<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (element(); as elementRef) {
      <div>
        <h2 data-cy="elementDetailsHeading"><span>Element</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>ID</span></dt>
          <dd>
            <span>{{ elementRef.id }}</span>
          </dd>
          <dt><span>Type</span></dt>
          <dd>
            <span>{{ elementRef.type }}</span>
          </dd>
          <dt><span>Name</span></dt>
          <dd>
            <span>{{ elementRef.name }}</span>
          </dd>
          <dt><span>Page</span></dt>
          <dd>
            @if (element()!.page) {
              <div>
                <a [routerLink]="['/nsdpdocapp/page', element()!.page?.id, 'view']">{{ elementRef.page?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/nsdpdocapp/element', elementRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
