<div>
  <h2 id="page-heading" data-cy="FormVariableHeading">
    <span>Form Variables</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [animation]="isLoading ? 'spin' : undefined"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-form-variable"
        [routerLink]="['/nsdpdocapp/form-variable/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span>Create a new Form Variable</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (formVariables().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span>No Form Variables found</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span>ID</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sectionCode">
              <div class="d-flex">
                <span>Section Code</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="sectionName">
              <div class="d-flex">
                <span>Section Name</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="formVariableType">
              <div class="d-flex">
                <span>Form Variable Type</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="orderIndex">
              <div class="d-flex">
                <span>Order Index</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (formVariable of formVariables(); track trackId(formVariable)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/nsdpdocapp/form-variable', formVariable.id, 'view']">{{ formVariable.id }}</a>
              </td>
              <td>{{ formVariable.sectionCode }}</td>
              <td>{{ formVariable.sectionName }}</td>
              <td>
                {{
                  { null: '', ACUTE: 'ACUTE', OUTCOME_ASSESSMENT: 'OUTCOME_ASSESSMENT', NSF_SURVEY: 'NSF_SURVEY' }[
                    formVariable.formVariableType ?? 'null'
                  ]
                }}
              </td>
              <td>{{ formVariable.orderIndex }}</td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/nsdpdocapp/form-variable', formVariable.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline">View</span>
                  </a>

                  <a
                    [routerLink]="['/nsdpdocapp/form-variable', formVariable.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline">Edit</span>
                  </a>

                  <button type="submit" (click)="delete(formVariable)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline">Delete</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (formVariables().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  }
</div>
